{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Example</title>
    {% render_bundle 'app' 'css' attrs='async chatset="UTF-8"' %}
</head>
<body>

  <h1>Example</h1>
  <div ui-view></div>
  {% render_bundle 'vendor' 'js' %}
  {% render_bundle 'app' 'js' attrs='async chatset="UTF-8"' %}
</body>
</html>
