<div class="container">
    <div class="jumbotron">
        <h2>{{vm.title}}</h2>
        <p>{{vm.description}}</p>
        <p>
            <a class="btn btn-lg btn-primary" href="./#/posts" role="button">View posts</a>
        </p>
    </div>
</div>
